/* || GENERAL STYLES */

:root {
    --background-color: #3c3e36;
    --light-accent: #ece7e1;
}

*{
    font-family: "Delius";
}

html, body {
    background: var(--background-color);
    color: var(--light-accent);
    text-align: center;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

h1 {
    font-family: "Itim";
    font-weight: 100;
}

input{
    width: 10vw;
    height: 9.5vw;
    border: 1px solid #745F57;
    border-radius: 7%;
    font-size: 5vw;
    text-align: center;
    color: var(--background-color);
}

/* removing spinbar on inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button:hover{
    cursor: pointer;
}

/* || OTHER STYLES */
#gamePage{
    display:flex;
    flex-flow: column nowrap;
}

/*--Header Styles--*/
#header{
    position: relative;
    margin-top: 2em;
}

#logoContainer{
    background: url("../resources/detective_hat.svg") no-repeat center;
    background-size: contain;
    height: 11vw;
    margin: 0 auto;
}

#logoContainer h1{
    font-size: 6vw;
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    margin: 0;
}
/*--End Header Styles--*/


#helpButton{
    width: 5vw;
    height: 5vw;
    border: 0;
    position: absolute;
    right: 2vw;
    top: 0;
    background-color: transparent;
    background: url("../resources/question_mark.svg") no-repeat;
    background-size: contain;
}

#thoughtBubs{
    width: 11vw;
    margin: -1vw 20% -2vw auto;
}

/*Guessing Interface Styles*/
#guessingInterface{
    width: 70vw;
    height: 20vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: url("../resources/big_thought.svg") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

#userGuess{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5vw;
    margin-top: 5vw;
}

#guessesLeftText{
    font-size: 1.5vw;
    color: #6A6D54;
    margin-top: 0.25em;
    margin-bottom: auto;
}

/*Feedback Log Styles*/
#feedbackLog{
    position:relative;
}

.feedbackHolder{
    width: 70vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: .5em auto;
}

#detectivePic{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: #9F8A75 url("../resources/detective_icon.png") no-repeat;
    background-size: contain;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    margin: 0 1vw 0 auto;
}

.feedback{
    font-size: 1vw;
    max-width: 50%;
    border-radius: 5em;
    background-color: #656565;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    margin: 0 auto 0 0;
    padding: 1.25em;
}

#toggleButton{
    font-size: 1vw;
    color: var(--light-accent);
    border: 0;
    position: absolute;
    right: 30vw;
    background-color: transparent;
}

#toggleButton:hover{
    text-shadow: 0 0 5px var(--light-accent);
}

/*Modal Styles*/
.modalContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
}

.modalContainer.show{
    opacity: 1;
    pointer-events: all;
}

.modal{
    color: var(--background-color);
    text-align: center;
    width: 50vw;
    max-width: 500px;
    max-height: 80vmin;
    border-radius: 10px;
    z-index: 10;
    overflow: auto;
    background-color: var(--light-accent);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    margin: 15vmin auto 0 auto;
    padding: 2em 3em 2em 2em;
}

.modal h1{
    margin:0;
    padding-top: 0;
}

.modal button{
    color: #fff;
    border: 0;
    border-radius: 10%;
    background-color: #745F57;
    padding: 1em 3em;
}

.modal button:hover{
    background-color: #8d766c;
}

.modal button:active{
    background-color: #745F57;
}

.modal li{
    text-align: justify;
    margin-top: 1em;
}
/*End Modal Styles*/