/* || GENERAL STYLES */

:root {
    --background-color: #3c3e36;
    --light-accent: #ece7e1;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
    font-family: "Delius";
}

html, body {
    background: var(--background-color);
    color: var(--light-accent);
    margin: 0;
    text-align: center;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

h1 {
    font-family: "Itim";
    font-weight: 100;
}

form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5vw;
    margin-top: 5vw;
}

input{
    width: 10vw;
    height: 9.5vw;
    border: 1px solid #745F57;
    border-radius: 7%;
    font-size: 5vw;
    text-align: center;
}

/* || OTHER STYLES */
#gamePage{
    display:flex;
    flex-flow: column nowrap;
}

#header{
    margin-top: 2em;
    position: relative;
}

#logoContainer{
    background-image: url("../resources/detective_hat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 11vw;
    margin: 0 auto;
}

#logoContainer h1{
    font-size: 6vw;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
}

#helpButton{
    position: absolute;
    right: 2vw;
    top: 0;
    background-color: transparent;
    border: 0;
    width: 5vw;
    height: 5vw;
    background: url("../resources/question_mark.svg") no-repeat;
    background-size: contain;
    cursor:pointer;
}

#thoughtBubs{
    margin: -1vw 20% -2vw auto;
    width: 11vw;
}

#guessingInterface{
    height: 20vw;
    width: 70vw;
    margin: 0 auto;
    background: url("../resources/big_thought.svg") no-repeat center;
    background-size: contain;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#guessesLeftText{
    color: #6A6D54;
    margin-bottom: auto;
    margin-top: 0.25em;
    font-size: 1.5vw;
}

.feedbackHolder{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 70vw;
    margin: .5em auto;
}

.detective{
    background-image: url("../resources/detective_icon.png");
    background-color: #9F8A75;
}

.pic{
    width: 5vw;
    height: 5vw;
    margin: 0 1vw 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.feedback{
    margin: 0 auto 0 0;
    background-color: #656565;
    border-radius: 5em;
    padding: 1.25em;
    max-width: 50%;
    font-size: 1vw;
}

.modalContainer{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.modalContainer.show{
    opacity: 1;
    pointer-events: all;
}

.modal{
    background-color: var(--light-accent);
    color: var(--background-color);
    width: 50vmin;
    margin: 20vh auto 0 auto;
    padding: 2em 3em 2em 2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 10;
}

.modal h1{
    margin:0;
    padding-top: 0;
}

.modal button{
    background-color: #745F57;
    border: 0;
    border-radius: 10%;
    color: #fff;
    padding: 1em 3em;
}

.modal li{
    text-align: justify;
    margin-top: 1em;
}